* {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#CONFIG {
    background-image: url(./imgs/Casino_Background.jpg);
    display: flex;
}

#APOSTA {
    background-image: url(./imgs/Aposta_Background.png);
    display: none;
}

#CORRIDA {
    background-image: url(./imgs/Corrida_Background.gif);
    display: none;
    align-items: center;
    flex-direction: column;
}

#PODIO {
    background-image: url(./imgs/Podio_Gif.gif);
    display: none;
}

input {
    height: 70px;
    width: 350px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 20px;
    text-align: center;
}

input::placeholder {
    color: white;
    font-size: 20px;
    text-align: center;
}

button {
    width: 200px;
    color: white;
    background-color: rgba(15, 15, 15, 0.932);
    border: solid white;
    font-size: 25px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: rgba(15, 15, 15, 0.932);
}

button:active {
    color: white;
    background-color: rgba(15, 15, 15, 0.932);
}

.fade {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 1%,
            rgba(128, 0, 0, 0.623) 20%,
            rgba(128, 0, 128, 0) 79%);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input#ipt_jogador1,
input#ipt_jogador2,
input#ipt_jogador3 {
    width: 100px;
    margin-top: 10px;
    font-weight: bold;
}

input#qtd_voltas,
input#qtd_cavalos {
    width: 300px;
    height: 30px;
}

.configJogo {
    display: flex;
    width: 500px;
    height: 600px;
    border: solid white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(15, 15, 15, 0.932);
    color: white;
    gap: 50px;
}

#jogadores {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.jogador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: solid white;
    flex-direction: column;
    font-weight: bold;
    color: lightgreen;
}

/*APOSTA*/

.fadeAposta {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 1%,
            rgba(77, 0, 128, 0.623) 20%,
            rgba(128, 0, 128, 0) 79%);
    background-size: cover;
    background-position: center;
    flex-direction: row;
    gap: 300px;
    justify-content: center;
}

.cavalosAposta {
    display: flex;
    background-color: rgba(15, 15, 15, 0.932);
    width: 600px;
    height: 700px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.cavalo {
    display: flex;
    width: 500px;
    height: 90px;
    border: solid white;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#IconCavalo {
    width: 75px;
    height: 75px;
}

.jogadorAposta {
    display: flex;
    background-color: rgba(15, 15, 15, 0.932);
    width: 700px;
    height: 400px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

#jogadoresAposta {
    display: flex;
    gap: 50px;
}

/* CORRIDA */

.placar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: 600px;
    height: 200px;
    background-color: rgba(15, 15, 15, 0.932);
    color: white;
    text-align: center;
    font-size: 25px;
}

.corredor {
    margin-top: 10px;
}

.corrida {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,
            rgb(0, 110, 28),
            rgb(121, 113, 0));
    width: 100vw;
    height: 625px;
    margin-top: auto;
    overflow: hidden;
}

.cavaloCorrida {
    position: relative;
    left: 0;
    transition: left linear;
}

#CavaloCorrendo {
    width: 100px;
    height: 100px;
}

#linhasVoltas {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.linhaVolta {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: red;
    z-index: 1;
}

.linhaVolta::before {
    content: attr(data-volta);
    position: absolute;
    top: 5px;
    left: -20px;
    background: red;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
}

#PODIO {
color: white;
align-items: center;
justify-content: center;
}

.podio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 500px;
    border: solid white;
}